.footer {
    position: absolute;
    background: var(--cor-secundaria);
    height: 11%;
    width: 100%;
    color: var(--cor-detalhes-claro);
    font-size: var(--font-size-18);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {}