.head {
    height: 20%;
    width: 50%;
}

.head__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    height: 100%;
    padding: 2.5rem 2rem 1rem 0;
    width: 100%;
}

.head__link {
    cursor: pointer;
    font-size: var(--font-size-26);
}