.main {
    color: var(--cor-detalhes-claro);
    background: url(/img/mobile/Forma\ 2.png) no-repeat right;

    height: 70%;
    padding: 0.5rem;
    width: 88,99%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    text-align: center;
    width: 100%;
}

.main__logo {
    width: 70%;
}

.main__subtitle {
    font-size: var(--font-size-26);
    margin: 1.25rem;
}

.main__paragraph {
    width: 70%;
    font-size: var(--font-size-18);
    line-height: 24px;
    text-align: center;
}

.main__paragraphBlue {
    width: 70%;
    font-size: var(--font-size-18);
    line-height: 24px;
    text-align: center;
    color: var(--cor-primaria);
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;
}

.buttons__button {
    background-color: var(--cor-terciaria);
    color: var(--cor-detalhes-claro);
    font-size: var(--font-size-16);
    border-radius: 5px;
    border: none;
    width: 10rem;
    height: 2rem;
}

.main__image {
    background: url(/img/mobile/Ilustração\ 1.png) no-repeat;
    width: 90%;
    height: 100%;
}