.header {
  display: flex;
  align-items: baseline;
  height: 17%;
  width: 100%;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 100%;
  padding: 2.5rem 2rem 1rem 0;
  width: 100%;
}

.header__link {
  cursor: pointer;
  font-size: var(--font-size-26);
}
